.App {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #8419cb;
}

.App-header {
    display: flex;
    color: rgb(247, 229, 229);
    font-weight: 800;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}


.generate-button {  
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 500px;
}

.generate-button button {
    padding: 20px;
    font-size: 20px;
}

footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(247, 229, 229);
}